@import "tailwindcss";

@font-face {
  font-family: 'PlayfairDisplay', sans-serif;
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplayBold', sans-serif;
  src: url('/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplaySemiBold', sans-serif;
  src: url('/fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  /* Firefox */
  scrollbar-width: none;
  /* IE/Edge legacy */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge (Chromium) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


:root {
  --color-text-primary: #0C4139;
  --color-text-secondary: rgb(246, 204, 119);
  --color-primary: #1976d2;
  --color-secondary: #dc004e;
  --color-background: rgba(249, 249, 241);
  --color-background-secondary: rgb(246, 204, 119);
  --font-family-primary: 'PlayfairDisplay', serif;
  --font-family-bold: 'PlayfairDisplayBold', serif;
  --font-family-semi-bold: 'PlayfairDisplaySemiBold', serif;
}

.MuiTypography-root {
  font-family: 'PlayfairDisplay', serif !important;
}

.phoneInput input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}